APP_NAME=Veyra
APP_BASE_URL=http://localhost:3767
APP_BIND_ADDR=0.0.0.0:3767
DATABASE_PATH=/config/veyra.db
PUID=99
PGID=100

SESSION_SECRET=change-this-to-a-long-random-secret!!
ENCRYPTION_KEY=change-this-32-char-secret-value

MEDIA_SERVER_TYPE=jellyfin
MEDIA_SERVER_URL=http://jellyfin:8096
MEDIA_SERVER_PUBLIC_URL=https://jellyfin.example.com
MEDIA_SERVER_API_KEY=change-me!!

SEERR_URL=http://seerr:5055
SEERR_PUBLIC_URL=https://requests.example.com
SEERR_API_KEY=change-me!!

SONARR_URL=http://sonarr:8989
SONARR_API_KEY=change-me!!
RADARR_URL=http://radarr:7878
RADARR_API_KEY=change-me!!
PROWLARR_URL=http://prowlarr:9696
PROWLARR_API_KEY=change-me!!

TRUSTED_PROXY_CIDRS=127.0.0.1/32,172.16.0.0/12,10.0.0.0/8,192.168.0.0/16
COOKIE_SECURE=false
LOG_LEVEL=info
